[mysqld]
default-authentication-plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=200
max_allowed_packet=256M
innodb_buffer_pool_size=512M
innodb_log_file_size=128M
